appdirs==1.4.3
av==8.0.2
click==6.7
ffmpy==0.2.2
flake8==3.5.0
h5py==2.10.0
joblib==0.13.2
matplotlib==3.3.0
numpy==1.18.5
pandas==1.1.0
protobuf==3.6.1
scikit-learn==0.21.2
Sphinx==1.7.0
sphinx_rtd_theme==0.3.0

-r zamba/models/cnnensemble/requirements.txt
