click==6.7
ffmpy==0.2.2
flake8==3.5.0
h5py==2.7.1
matplotlib==2.1.2
numpy==1.14.1
pandas==0.22.0
scikit-learn==0.19.1
Sphinx==1.7.0
sphinx_rtd_theme==0.3.0

-r zamba/models/cnnensemble/requirements.txt
