bleach==1.5.0
cycler==0.10.0
Cython==0.28.1
decorator==4.1.2
enum34==1.1.6
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.5
Markdown==2.6.11
networkx==2.0
opencv-python==3.4.0.12
Pillow==5.0.0
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
sk-video==1.1.10
six==1.11.0
slicerator==0.9.8
tqdm==4.19.5
Werkzeug==0.14.1
xgboost==0.71
