site_name: Zamba
site_url: https://zamba.drivendata.org/docs/
site_description: Zamba is a command-line tool built in Python to automatically identify the species seen in camera trap videos from sites in central Africa.
repo_url: https://github.com/drivendataorg/zamba
theme:
  name: material
  features:
    - navigation.indexes
    - navigation.sections

extra_css:
  - stylesheets/extra.css
  - stylesheets/custom_mkdocstrings.css

nav:
  - Home: "index.md"
  - "Getting Started":
      - Installing Zamba: "install.md"
      - Quickstart: "quickstart.md"
  - "User Tutorials":
      - Classifying Unlabeled Videos: "predict-tutorial.md"
      - Training a Model on Labeled Videos: "train-tutorial.md"
      - Debugging: "debugging.md"
  - "Available Models":
      - Species Detection Models: "models/species-detection.md"
      - DensePose: "models/denspose.md"
  - "Advanced Options":
      - All Configuration Options: "configurations.md"
      - Using YAML configuration files: "yaml-config.md"
      - Guide to Common Optional Parameters: "extra-options.md"
  - "Contribute to zamba":
      - "contribute/index.md"
  - "Changelog":
      - "changelog/index.md"
  - API Reference:
      - zamba.data:
          - zamba.data.metadata: "api-reference/data-metadata.md"
          - zamba.data.video: "api-reference/data-video.md"
      - zamba.models:
          - zamba.models.yolox_models: "api-reference/models-yolox_models.md"
          - zamba.models.config: "api-reference/models-config.md"
          - zamba.models.efficientnet_models: "api-reference/models-efficientnet_models.md"
          - zamba.models.megadetector_lite_yolox: "api-reference/models-megadetector_lite_yolox.md"
          - zamba.models.model_manager: "api-reference/models-model_manager.md"
          - zamba.models.slowfast_models: "api-reference/models-slowfast_models.md"
          - zamba.models.utils: "api-reference/models-utils.md"
      - zamba.pytorch:
          - zamba.pytorch.dataloaders: "api-reference/pytorch-dataloaders.md"
          - zamba.pytorch.finetuning: "api-reference/pytorch-finetuning.md"
          - zamba.pytorch.layers: "api-reference/pytorch-layers.md"
          - zamba.pytorch.transforms: "api-reference/pytorch-transforms.md"
          - zamba.pytorch.utils: "api-reference/pytorch-utils.md"
      - zamba.pytorch_lightning:
          - zamba.pytorch_lightning.utils: "api-reference/pytorch_lightning-utils.md"
      - zamba.exceptions: "api-reference/exceptions.md"
      - zamba.metrics: "api-reference/metrics.md"
      - zamba.settings: "api-reference/settings.md"

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - toc:
      permalink: True
      toc_depth: 2

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          selection:
            filters: ["!^_(?!_init__)"]
            inherited_members: true
          rendering:
            show_root_heading: false
            show_root_toc_entry: false
            show_root_full_path: false
            show_if_no_docstring: true
            show_signature_annotations: true
            show_source: true
            heading_level: 2
            group_by_category: true
            show_category_heading: true
      watch:
        - ../zamba

extra:
  version:
    provider: mike
