@import url("https://fonts.googleapis.com/css?family=Bowlby+One|Bowlby+One+SC|Open+Sans:400,700");

body, .wy-nav-content-wrap {
   background-color: #fff;
}

p {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}


.wy-nav-side {
   background-color: #f5f8f4;
   color: #33691E;
}

.wy-nav-side a {
   color: #33691E;
}

.wy-nav-side a:hover {
   color: #fff;
   background-color: #33691E;
}

.wy-side-nav-search {
    background-color: #33691E;
}

.wy-side-nav-search a {
    color: #fff;
}

.wy-nav-content-wrap h1,
.wy-nav-content-wrap h2,
.wy-nav-content-wrap h3,
.wy-nav-content-wrap h4,
.wy-nav-content-wrap h5,
.wy-nav-content-wrap h6,
.wy-nav-content-wrap nav {
  font-family: 'Bowlby One';
  font-weight: normal;
}
